<!-- Hero title, text, cta centre -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 32px 0 32px 0;" bgcolor="#ffffff" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center">
            <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td style="padding: 0 16px 0 16px;" align="center" valign="top">
                  <!-- content -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td align="center" style="padding: 0 0 8px 0; color: #323133; font-family: Helvetica, Arial, sans-serif; font-size: 28px; font-weight: bold; line-height: 32px;">
                        The clean &amp; simple framework
                      </td>
                    </tr>
                    <tr>
                      <td align="center" style="padding: 0 0 16px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <!-- Button -->
                        <table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                            <td align="center">
                              <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td align="center">
                                    <a style="background-color: #CCD1D9; border-top: 8px solid #CCD1D9; border-right: 16px solid #CCD1D9; border-bottom: 8px solid #CCD1D9; border-left: 16px solid #CCD1D9; display: inline-block; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 24px; text-decoration: none;" href="" target="_blank">Get started &#8594;</a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!-- /Button -->
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /Hero title, text, cta centre -->